@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    background-image:url("../img/fondo3.jpg"); 
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 700px;
    height:600px;
    padding: 25px 30px;
    border-radius: 5px;
    
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
}
.container form .user-details{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin:20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom:15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box select{
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom: 2px;
    transition: all 0.3s ease;
}
 .user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #FF3D00;
} 
.submit{
    border:none;
    border-radius: 10px;
    font-size: 15px;
    height: 45px;
    outline: none;
    margin: 0 0 0 100px;
    width: 65%;
    color:rgb(239, 239, 239);
    background: rgba(7, 100, 97, 1);
    cursor: pointer;
    transition: .3s;
    margin-top: 20px;
}
.politicas{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 14px;
}