::-webkit-scrollbar {
    width: 20px;
    background-color: #85929E;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #FFBC11;
    box-shadow: rgba(255, 188, 17, 0.4) 0px 30px 90px;
    ;
    border-radius: 10px;
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

section{
    height: 100%;
    width: 100%;
}


.nav-customer{
    width: 60%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: .7rem 2rem;
}

.clock-container {
    font-size: 48px;
    gap:1rem;
}

  
#Home {
    justify-content: flex-end;
    background-image: url('../img/img-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    color: antiquewhite;
  }
  
  .container-banner-indicator {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  

  .container-indicator>.indicator-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 100%;

    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  
  .indicator-list div{
    width: 20px;
    height: 5px;
    background-color: rgba(17, 17, 17, .5);
    box-shadow: var(--var-box-shadows);
  }
  
  
  .container-buttom input,
  .indicator-list div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    ;
  }
  
  /*Animacion de la section Home*/
  .loader-img{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    background-color: transparent;
    position: absolute;
  }
  
  .loader-img span{
    width: 50px;
    height: 250px;
    background-color: transparent;
  }
  
  .loading{
    animation: loading .8s linear infinite;
  }
  .loader-img span:nth-child(1){ animation-delay: 0s;}
  .loader-img span:nth-child(2){ animation-delay: 0.2s;}
  .loader-img span:nth-child(3){ animation-delay: 0.4s;}
  .loader-img span:nth-child(4){ animation-delay: 0.6s;}
  
  @keyframes loading {
    0%{
        box-shadow: 0 0 0 rgba(0, 0, 0, .5);
        opacity: 0;
        transform: translateX(-50px) scale(.8);
    }50%{
        box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
        opacity: 1;
        transform: translateX(0) scale(1.2);
  
    }100%{
        box-shadow: 0 0 0 rgba(0, 0, 0, .5);
        opacity: 0;
        transform: translateX(50px) scale(.8);
    }
  }
  /* end animation */
  

/* =============Destinos============= */
#Destinos, #Galeria, #About, #Contactanos{
    background-color: whitesmoke;
    padding-top: 7rem;
    padding-bottom: 2rem;
}

#Destinos{
    height: fit-content;
}

#Destinos .container .row > .col> .btn-custom{
    border-radius: 50%;
    background-color: #FFBC11;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: aliceblue;
    height: 50px;
    width: 50px;
}

#Destinos .container .row > .col> .btn-custom:nth-child(1){
    background-color: aliceblue;
    color: black;
}

#Destinos .container-destinos{
    height: 100%;
    display: flex;
    gap: 1rem;
    overflow: hidden;
}

.container-destinos .card-custom{
    max-width: 27%;
    height: 60%;
    padding: .7rem;
    min-width: 300px;
}

.card-destino img{
    width: 100%;
}


.container-contact-right {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0
}
.container-contact {
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.section-about {
    display: none;
    opacity: 0;
    transition: opacity 0.7s ease;
}

.active-section-about{
    display: block;
    opacity: 1;
}


#Destinos, #Galeria, #About, #Contactanos{
    background-color: whitesmoke;
    padding-top: 7rem;
    padding-bottom: 2rem;
}


#Destinos{
    height: fit-content;
}

#Destinos .container .row > .col> .btn-custom{
    border-radius: 50%;
    background-color: #FFBC11;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: aliceblue;
    height: 50px;
    width: 50px;
}

#Destinos .container .row > .col> .btn-custom:nth-child(1){
    background-color: aliceblue;
    color: black;
}

#Destinos .container-destinos{
    height: 100%;
    display: flex;
    gap: 1rem;
    overflow: hidden;
}

.container-destinos .card-custom{
    max-width: 27%;
    height: 60%;
    padding: .7rem;
    min-width: 300px;
}

.card-destino img{
    width: 100%;
}
/* mensaje de alerta  */
#alertContainer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
  }
  
  .alert {
    transition: opacity 0.5s ease-out;
    opacity: 1;
  }

  
.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}



/*animacion de la seccion destinos*/
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
  
.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}


  
  .container-banner {
    display: flex;  
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 2rem;
  }
  


/* contacto */


.container-contact-right {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0;
    background: rgb(7,100,97);
    --u: 2vmin; 
	--c1: #0A837F;
    --c2: #076461;
	--s1: #0002;
  --gp: 50%/calc(var(--u) * 10) calc(var(--u) * 10);
	background: 
		repeating-conic-gradient(from 0deg at 50% 13.75%, var(--s1) 0 20.55%, #fff0 21.05% 79.13%, var(--s1) 79.63% 100% ) var(--gp), 
		repeating-conic-gradient(from 0deg at 50% 50%, #fff0 0 25%, var(--s1) 25% 29%, #fff0 30% 70%, var(--s1) 71% 75%, #fff0 75% 100%) var(--gp), 
		repeating-conic-gradient(from 0deg at 50% 50%, var(--c1) 0 25%, var(--c2) 0% 50%, var(--c1) 0 75%, var(--c2) 0% 100% ) var(--gp);
}
.container-contact {
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem
}

/*animacion de la seccion de contactos*/
.container-contact {
    opacity: 0;
    transform: translateY(40%);
    transition: opacity 0.7s ease-in-out, transform 0.3s ease;
}
.container-contact.show {
    opacity: 1;
    transform: translateY(0);
} 
/* end */



@media (min-width: 1024px) {
    .container-contact-right {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important
    }
}


@media (min-width: 1024px) {
    .container-contact {
        border-radius: .625rem 0 .625rem .625rem
    }
}
@media (min-width: 1024px) {
    .container-contact-fom {
        padding: 5rem !important
    }
}
