@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

*,
main,
body {
    margin: 0;
    padding: 0;
}


::-webkit-scrollbar {
    width: 20px;
    background-color: #85929E;
}

::-webkit-scrollbar-thumb {
    background-color: #FFBC11;
    box-shadow: rgba(255, 188, 17, 0.4) 0px 30px 90px;
    ;
    border-radius: 10px;
}

body,
main,
section {
    height: 100vh;
    background-color: #17dada;

}


section {
    min-width: 100%;
    height: 100%;
}

main {
    display: flex;
    position: relative;
    overflow-x: scroll;
}

header {
    max-width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
}

nav {
    background-color: aliceblue;
    margin-left: 2.5rem;
    height: 75%;
    border-radius: 10px;
    padding: 2.5rem 1.5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    flex-direction: column;
}

nav a {
    text-decoration: none;
}

nav li{
    padding-bottom: 2rem;
}

.nav-hover{
    height: 100%;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
}

.nav-hover h1{
    font-size: 4.5rem;
    font-family: 'Sigmar', cursive;
    color: #FDFEFE;
    letter-spacing: 7px;
}

.active{
    width: 100%;
    position: fixed;
    transition: all .5s ease-in;
    
}

.disable{
    width: 0;
    position: fixed;
    transition: all 1s ease-in;
}

.nav-logo-active {
    display: none;
}


.container-banner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: fit-content;
    gap: 2rem;
    padding-right: 2.5rem;
    padding-bottom: 1.6rem;
}

.banner {
    background-color: #FDFEFE;
    height: 50px;
    width: 300px;
    display: block;
    border-radius: 10px;
    box-shadow: var(--var-box-shadows);
}

#Home {
    display: flex;
    justify-content: flex-end;
    background-image: url('../img/img-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}

.container-banner-indicator {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-buttom {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.container-buttom input {
    background-color: #FDFEFE;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border-width: 0;
    box-shadow: var(--var-box-shadows);
}


.container-indicator>.indicator-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.indicator-list div{
    width: 17px;
    height: 17px;
    background-color: #FDFEFE;
    border-radius: 50%;
    box-shadow: var(--var-box-shadows);
}


.container-buttom input,
.indicator-list div,
.banner,
nav {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    ;
}


#Contact {
    background-color: #f5f5dc;
}


.loader-img{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    background-color: transparent;
    position: absolute;
}

.loader-img span{
    width: 50px;
    height: 250px;
    background-color: transparent;
}

.loading{
    animation: loading .8s linear infinite;
}
.loader-img span:nth-child(1){ animation-delay: 0s;}
.loader-img span:nth-child(2){ animation-delay: 0.2s;}
.loader-img span:nth-child(3){ animation-delay: 0.4s;}
.loader-img span:nth-child(4){ animation-delay: 0.6s;}

@keyframes loading {
    0%{
        box-shadow: 0 0 0 rgba(0, 0, 0, .5);
        opacity: 0;
        transform: translateX(-50px) scale(.8);
    }50%{
        box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
        opacity: 1;
        transform: translateX(0) scale(1.2);

    }100%{
        box-shadow: 0 0 0 rgba(0, 0, 0, .5);
        opacity: 0;
        transform: translateX(50px) scale(.8);
    }
}



