@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

body{
    background-image:url("../img/fondo3.jpg");
    background-size: cover;
    background-repeat: no repeat;
    background-position: center;
    background-attachment: fixed;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.container{
    width: 350px;
    flex-direction:column;
    padding: 0 15px 0 15px; 
}
header{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
/*cambiando los inputs*/
.input-field .input {
    height: 40px;
    width: 87%;
    color: #fff;
    font-size: 19px;
    padding: 0 0 0 10px;
    background: rgba(82, 81, 81, 0.1);
    outline: none;
    border: 1px solid #0f0f0f;
    margin-bottom: 20px;
    border-radius: 5px;
}
::-webkit-input-placeholder{
    color: #fff;
}
.submit{
    border:none;
    border-radius: 10px;
    font-size: 15px;
    height: 45px;
    outline: none;
    margin: 0 0 0 100px;
    width: 65%;
    color:rgb(244, 239, 239);
    background: rgba(7, 100, 97, 1);
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(7, 100, 97, 0.266);
}

.two-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#fff;
    font-size: small;
    margin-top: 10px;
}
label{
    margin-bottom: 70px;
    color: #fff;
}

select{
    height: 40px;
    width: 87%;
    color: #f9f9f9;
    font-size: 19px;
    padding: 0 0 0 10px;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    border: 1px solid #0f0f0f;
    margin-bottom: 20px;
    border-radius: 5px;
}
option{
    color: #151515;
    background:transparent;
}
input[type="date"] {
 height: 40px;
 width: 87%;
 color:#fff;
 font-size: 19px;
 padding: 0 0 0 10px;
 background:rgba(255, 255, 255, 0.1);
 outline: none;
    border: 1px solid #0f0f0f;
    margin-bottom: 20px;
    border-radius: 5px;  
}